<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Events</title>
    <link rel="stylesheet" href="/View/css/dashboard-styles.css">
</head>
<body>
<nav class="dashboard-nav">
    <a class="logo-href" href="/">
        <h1>Event Organizer</h1>
    </a>
</nav>
<main class="dashboard-main">
    <h1>Search Users</h1>
    <form action="/user-search" method="post">
        <input type="text" name="searchedUser" id="searchedUser" placeholder="Enter username..." required>
        <button type="submit">Search</button>
    </form>
</main>
</body>
</html>
