#events h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#events h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.events-list {
    margin-top: 20px;
}
.add-event-btn {
    background-color: #3498DB;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-event-btn:hover {
    background-color: #2980B9;
}

.delete-profile-btn {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
}

.update-btn {
    background-color: #218838;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.event-list {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-list h1 {
    font-size: 24px;
    margin-bottom: 20px;
}